h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    color: rgb(82, 182, 82);
    font-size: 16px;
}

p {
    font-size: small;
    font-family: sans-serif;
}