body {
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 5rem;
  text-align:center;
}

.App {
 
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; /* Adds spacing between counter and text field */
  margin-top: 20px;
}


.a{
  cursor: pointer;
}


.card {
  padding: 2em;
}

